#landing {
  background-image: url('https://images.pexels.com/photos/6883804/pexels-photo-6883804.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}